<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Help page</title>
        <meta charset="UTF-8">
        <meta name="help" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font: 16px arial, sans-serif;
            }            
            h3 {
                font: 20px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
            h4 {
                font: 18px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
        </style>    
    </head>
    <body>
        <h3>User help</h3>
        <br>
        <h4>General description</h4>
        <p>This window allows you to carry out maintenance operations basic Resource data.
            The user can through the available controls in the window: create, modify and delete the resources of
            the application. You can also generate a report that contains a list
            of resources with their corresponding data.</p>
        <br>
        <h4>Operations</h4>
        <br>
        <strong>Create resources</strong>
        <p>To create a resource you must enter a tittle, link and a psychologist.
            Once the previous actions have been carried out, you must press the button <strong>Create</strong> 
            to create the resource. If no error appears, the resource will be created and will appear in the table displayed in the window.</p>
        <br>
        <strong>Modify resources data</strong>
        <p>To modify the data of a resource you must first select the resource's row by clicking on the desired resource of the table. 
            The input fields of window will be informed with the data of the selected resource. These fields can be
            use to modify resouce data. Once the previous actions have been carried out, you must press the button <strong>Modify</strong> 
            to finish it. If no error appears, the data will be modified
            and the updated data of the resource will appear in the table that
            shows in the window.</p>
        <br>
        <strong>Delete resources</strong>
        <p>To delete a resource you must select the resource to delete
            by clicking on the desired row of the resource table. Then press the button
            <strong>Delete</strong>, and you will be prompted for confirmation to delete the resource.
            If you confirm the deletion and no error appears, the resource will be deleted and updated
            in the table displayed in the window.</p>
        <br>
        <strong>Print the resource</strong>
        <p>Pushing the button <strong>Report</strong> a window will open where you can view a document
            which contains a list of the resources that exist in the application:
            Using the buttons at the top of the window you can print or store the report.</p>
        <br>
        <strong>App Exit</strong>
        <p>Pushing <strong>Back</strong> you will appear in the welcome window. You can also click the "X" button to close the app.</p>
        <br>
        <strong>Help</strong>
        <p>Pushing <strong>Help</strong> you will see this document.</p>
    </body>
</html>